* {
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box
}
*:before,*:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}
body,
html { height: 100%;}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}
.btn:focus,.btn:active {outline: none !important;box-shadow: none;}
h1,h2,h3,h4,h5,h6,ul {margin:0px;padding:0px}
ul {list-style-type: none;margin: 0;padding: 0;display: block;}
li { display: inline-block;}
a,
.btn {cursor: pointer;}
a:hover {text-decoration: none;}
textarea {resize: none;}


.header {
   background: #fff;
   width:100%;
    -webkit-box-shadow: 0 7px 7px -8px #999;
    -moz-box-shadow: 0 7px 7px -8px #999;
    box-shadow: 0 7px 7px -8px #999;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000000;
}
.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.navbar-default {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0784313725490196);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0784313725490196);
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-nav>li {
    margin-left: 5px;
}
.navbar-default .navbar-nav>li>a {
    color: #362f2d;
    font-size: 15px;
    text-align: center;
    padding: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #ff9700;
    -moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;
}
.navbar>.container .navbar-brand span {
    color: #ff9700;
}
.navbar>.container .navbar-brand {
    font-size: 59px;
    letter-spacing: -7px;
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar .hidden-xs { 
    font-weight: 700;
    line-height: 70px;
    font-size: 11px;
    color: #d7d7d7;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ff9700;
}

.jumbotron {
    height: auto;
    margin-bottom: 0;
    padding-top: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/home-banner1.jpg");
}
.jumbotron h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 500;
    line-height: 55px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    text-transform: capitalize;
}
.jumbotron h1 span {
    display: block;
}
.jumbotron .btn-lg {
    font-size: 23px;
    line-height: 3px;
    font-weight: 600;
    padding: 29px 29px;
    border-radius: 32px;
    background: #ff9700;
    border: none;
    text-transform: uppercase;
    margin-bottom: 100px;
    border: 2px solid #ff9700;
    -moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;
}
.jumbotron .btn-lg:hover {
	color: #ff9700;border: 2px solid #ff9700; background-color: rgba(102, 102, 102, 0.17);
}
.jumbotron .col {
    min-height: 0px;
    display: flex;
    padding: 65px 20px;
    background-color: #fff;
}
.jumbotron .col .pete-1,.pete-2,.pete-3 {
    border-top-right-radius: 110px 110px;
    border-bottom-right-radius: 110px 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px;
    margin-right: 30px;
    width: 80px;
    height: 175px;
}
.jumbotron .col .inner-content {
    margin-top: -5px;
}
.jumbotron .col .pete-1 {
	background-image: url(../images/pete-2.jpg);
}
.jumbotron .col .pete-2 {
	background-image: url(../images/pete-1.jpg);
}
.jumbotron .col .pete-3 {
	background-image: url(../images/pete-3.jpg);
}
.jumbotron .col .inner-content h2 {
    font-size: 30px;
    color: #362f2d;
    padding-bottom: 20px;
}
.jumbotron .col .inner-content p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 11px;
}
.jumbotron .col .inner-content p a {
	color: #f52e1f;
}
.jumbotron .inner-content h2 a {
	color: black;
}

.staff {
    padding-bottom: 100px;
    background-color: white;
}
.staff .col video {
	margin-top: 80px;
    width: 100%;
    height: 275px;
    border: 20px solid #464646;
}
.staff h2 {
	margin-top: 20px;
    color: #959595;
    font-size: 46px;
    text-align: center;
    padding-bottom: 18px;
}
.staff h5 {
    color: #959595;
    font-size: 26px;
    text-align: center;
    padding-bottom: 60px;
}
.staff h3 {
    font-size: 34px;
    padding-bottom: 24px;
}
.staff h4 {
    color: #737373;
    font-size: 22px;
    padding-bottom: 30px;
}
.staff p {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 94px;
    padding-bottom: 30px;
}
.staff .btn-group .btn-warning {margin-right: 20px; background-color: #ff9700;}
.staff .btn-group .btn-success {background-color: #362f2d;border: 2px solid #362f2d;}
.staff .btn-group .btn {font-size: 19px; padding: 16px 38px; text-transform: uppercase;border: 2px solid transparent;}
.staff .btn-group .btn:hover {color: #ff9700;border: 2px solid #ff9700; background-color: rgb(255, 255, 255);}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {border-radius: 100px;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.btn-group>.btn:last-child:not(:first-child) {border-radius: 100px;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}


.product .image.one  {
    overflow: hidden;
}
.product .image.one img{
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    }
.product .image.one img:hover{ 
    -moz-transform: scale(1.1); -webkit-transform: scale(1.1); transform: scale(1.1);
}
.product {
    padding-top: 65px;
    padding-bottom: 93px;
    background-image: url(../images/product-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.product .col .thumbnail img {
    width: 100%;
    height: auto;
}
.product .col .thumbnail h3 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}
.product h2 {
    font-size: 50px;
    text-align: left;
    padding-bottom: 60px;
}
.product  .btn-default {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 118px;
    text-transform: uppercase;
    background-color: #362f2d;
    border: 1px solid #362f2d;
}
.product .btn-default:hover {color: #fff;border: 1px solid #ff9700; background-color: #ff9700;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.product .col .thumbnail .caption {
    padding: 0;
    padding-top: 25px;
}
.product .col .thumbnail p {
    color: #b8b8b8;
    text-align: center;
    font-size: 14px;
    padding: 0 34px;
    padding-bottom: 20px;
}
.product .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product .col .thumbnail .box { 
    text-align: center;
    border-top: 1px solid #cccccc;
}

.product .col .thumbnail .box p {
    width: 165px;
    color: black;
    display: inline-block;
    margin: 0;
    padding: 13px 0;
    font-size: 22px;
    text-align: center;
    border-right: 1px solid #cccccc;
}
.product .col .thumbnail .box .cart {
    color: #707070;
    margin: 0 21px;
    font-size: 23px;
}
.product .col .thumbnail .box span {
    color: #f52e1f;
}
.product .fa-shopping-cart:hover {
    color: #ff9700;
    cursor: pointer;
    -moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;
}
.product h3 a {color: #000;}



.client {
    padding-bottom: 100px;
}
.client .col-sm-6 { padding: 0;}
.quote {
    font-size: 169px;
    color: #333333;
    text-align: right;
    padding-right: 96px; 
}
.client .fa {
    position: absolute; 
}
.client .col {
    height: 415px;
    padding-left: 155px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #252525;
}
.client .image {
    height: 415px;
    background-image: url("../images/client-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#quote-carousel h3 {
    color: white;
    font-size: 40px;
    padding-bottom: 47px;
}
#quote-carousel p {
    color: #959595;
    font-size: 20px;
    padding-bottom: 35px;
}
#quote-carousel h4 {
    color: white;
    font-size: 22px;
}

.client .carousel-indicators {
    position: absolute;
    bottom: 0;
    top: 300px;
    left: 0;
    z-index: 15;
    width: 30%;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
    list-style: none;
}
.client .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #555555;
    border: none;
}
.client .carousel-indicators .active {
    display: inline-block;
    width: 15px;
    margin: 1px;
    height: 15px;
    background: #fff;
}



.contact {
    height: auto;
    padding-top: 65px;
    background-image: url("../images/contact-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact h2 {
    font-size: 40px;
    color:#fff;
    padding-bottom: 52px;
}
.contact p {
    font-size: 16px;
    color: #e1dfdf;
    margin-top: -10px;
    line-height: 26px;
    padding-bottom: 18px;
}
.main-footer p {text-align: right;font-size: 14px;letter-spacing: 1px;}
footer p a:hover,a:active {text-decoration: none;}
.contact .form-group {
    margin-bottom: 30px;
}
.contact .inner-content {display: inline-block;padding-bottom: 55px;}
.contact .address {padding-left: 40px}
.contact .social-icon .fa-facebook-square {color:#0054a6;}
.contact .social-icon .fa-twitter-square {color:#00bff3;}
.contact .social-icon .fa-youtube-square {color:#ed1c24;}
.contact .social-icon .fa-pinterest-square {color:#eca2c2;}
.contact .social-icon .fa:hover {color: rgba(255, 151, 0, 0.4);-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.social-icon li {font-size: 30px;display: inline-block;margin-right: 15px;}
.contact input {height: 55px;border-radius: 0;}
.contact textarea.form-control {border-radius: 0;margin-bottom: 10px;}
.contact .btn-default {border: none;color: #fff;font-size: 20px; font-weight: 500;padding: 7px 35px; background-color: rgba(255, 151, 0, 0.6);border-radius: 100px;text-transform: uppercase;}
.contact .btn-default:hover {color: #fff; background-color: rgba(255, 151, 0, 0.3);-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transition: all 0.3s;}
.contact ::placeholder {
  color: gray;
  font-size: 16px;
  font-style: italic;
}
::-webkit-input-placeholder { 
  color: gray;
}

footer {
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.64);
}
footer p {font-size: 14px;}
footer p span a {color: #ff9700;}
footer p span a:hover {border-bottom: 1px solid #ff9700;}
footer ul {text-align: right;padding-bottom: 5px;}
footer ul>li {margin-bottom: 15px;}
footer ul>li>a {
    padding: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    text-align: right;
    margin-left: 10px;
    font-weight: 300;
    position: relative;
    letter-spacing: 1px;
}
footer a:focus, a:hover {
    color: #ff9700;
}
footer .footer-logo {
    color: #fff;
    float: left;
}
footer .footer-logo span {
    color: #ff9700;
}
footer .footer-logo {
    font-size: 59px;
    letter-spacing: -7px;
}

